/* Common */

body {
    font: normal 18px/1.5 "Montserrat", helvetica, arial, sans-serif;
}
/* data Grid*/
.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #000A0F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}

.datagrid table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000A0F), color-stop(1, #000A0F));
    background: -moz-linear-gradient(center top, #000A0F 5%, #000A0F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000A0F', endColorstr='#000A0F');
    background-color: #000A0F;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #5E6369;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #000A0F;
    border-left: 1px solid #5E6366;
    font-size: 12px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #8D9599;
    color: #000C12;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td div {
    border-top: 1px solid #000A0F;
    background: #8D9599;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}

.datagrid table tfoot td div {
    padding: 2px;
}

.datagrid table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.datagrid table tfoot li {
    display: inline;
}

.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #000A0F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000A0F), color-stop(1, #1F1F21));
    background: -moz-linear-gradient(center top, #000A0F 5%, #1F1F21 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000A0F', endColorstr='#1F1F21');
    background-color: #000A0F;
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #000A0F;
    color: #FFFFFF;
    background: none;
    background-color: #5F5D63;
}

.container{
    margin-bottom: 30px;
}

.footer {
    position: fixed;
    height: 40px;
    width: 100%;
    margin-top: 0;
    bottom: 0;
    clear: both;
    padding: 0 15px;
    line-height: 40px;
    text-decoration: none;
    border-color: #000A0F;
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000A0F), color-stop(1, #000A0F));
    background: -moz-linear-gradient(center top, #000A0F 5%, #000A0F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000A0F', endColorstr='#000A0F');
    background-color: #000A0F;
}