<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Scopic Development</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>



