{% extends "layouts/app.layout.twig" %}

{% block title %}Home Page{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Simple CRUD Example based on custom platform</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
{% endblock %}