<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="/public/assets/css/app.css" />
    <title>{% block title %}{% endblock %} - CRUD with Custom Platform By. Shaymaa</title>
    {% endblock %}
</head>
<body>
<div class="main-page">
    <header>
        <div class="top-header">
            {% include 'partials/header.twig' %}
        </div>
        <nav>
            {% include 'partials/nav.twig' %}
        </nav>
    </header>
    <div class="container">
        <div class="content">{% block content %}{% endblock %}</div>
    </div>
    <footer>
        {% include 'partials/footer.twig' %}
    </footer>
</div>
</body>
</html>
